*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-image: url(bg.jpeg); */
    background-size: cover;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100vh;
}
.taskbar{
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 119;
}
.right{
    position:absolute;
   right: 0;
   margin: 6px 0;
   height: 85%;
}
.startmenu{
    position: absolute;
    bottom: -650px;
    width: 100%;
    text-align: center;
   
}
.startmenu img{
    border-radius: 20px;
}
